extends layout

block content
  section.main-stuff
    .humbuger
      img(src='./images/menu.svg', alt='')
    .inside
      .logo
        center
          img(src='./images/api_icon.jpg', alt='')
        h1 Questioner
      .intro
        h3  Comments API Reference
      .rsection
        .nav-route
          li
            span.exp Method: POST (write comment)
            span.url https://protected-beach-95106.herokuapp.com/api/v1/comments
          li
            span.exp Method: GET (get comment)
            span.url https://protected-beach-95106.herokuapp.com/api/v1/comments/:commentId
          li
            span.exp Method: PATCH (update comment)
            span.url https://protected-beach-95106.herokuapp.com/api/v1/comments/:commentId
          li
            span.exp Method: DELETE (delete comment)
            span.url https://protected-beach-95106.herokuapp.com/api/v1/comments/:commentId
          li
            span.exp Method: GET (get comments according to specific question)
            span.url https://protected-beach-95106.herokuapp.com/api/v1/questions/:questionId/comments

    
