extends layout

block content
  section.main-stuff
    .humbuger
      img(src='./images/menu.svg', alt='')
    .inside
      .logo
        center
          img(src='./images/api_icon.jpg', alt='')
        h1 Questioner
      .intro
        h3  User API Reference
      .rsection
        .nav-route
          ul
            li
              span.exp Method: POST (create new user)
              span.url https://evening-sierra-90401.herokuapp.com/api/v1/signup
            li
              span.exp Method: POST (user signin)
              span.url https://evening-sierra-90401.herokuapp.com/api/v1/signin
            li
              span.exp Method: GET (user's info)
              span.url https://evening-sierra-90401.herokuapp.com/api/v1/users/username
            li
              span.exp Method: PATCH (update user)
              span.url https://evening-sierra-90401.herokuapp.com/api/v1/users
            li
              span.exp Method: DELETE (delete users)
              span.url https://evening-sierra-90401.herokuapp.com/api/v1/users
            li
              span.exp Method: PATCH (change password)
              span.url https://evening-sierra-90401.herokuapp.com/api/v1/users/change-password
    
                
    
