extends layout

block content
  section.main-stuff
    .humbuger
      img(src='./images/menu.svg', alt='')
    .inside
      .logo
        center
          img(src='./images/api_icon.jpg', alt='')
        h1 Questioner
      .intro
        h3  Meetup API Reference
      .rsection
        .nav-route
          ul
            li
              span.exp Method: POST (create meetup)
              span.url https://evening-sierra-90401.herokuapp.com/api/v1/meetups
            li
              span.exp Method: GET (all meetups)
              span.url https://evening-sierra-90401.herokuapp.com/api/v1/meetups
            li
              span.exp Method: GET (single meetup)
              span.url https://evening-sierra-90401.herokuapp.com/api/v1/meetups/:meetupId
            li
              span.exp Method: PATCH (update meetup)
              span.url https://evening-sierra-90401.herokuapp.com/api/v1/meetups/:meetupId
            li
              span.exp Method: DELETE (delete meetup)
              span.url https://evening-sierra-90401.herokuapp.com/api/v1/meetups/:meetupId
            li
              span.exp Method: GET (upcoming meetups)
              span.url https://evening-sierra-90401.herokuapp.com/api/v1/meetups/v/upcoming
            li
              span.exp Method: POST (add images to meetup)
              span.url https://evening-sierra-90401.herokuapp.com/api/v1/meetups/:meetupId/images
            li
              span.exp Method: POST (add tags on meetup)
              span.url https://evening-sierra-90401.herokuapp.com/api/v1/meetups/:meetupId/tags
