extends layout

block content
  section.main-stuff
    .humbuger
      img(src='./images/menu.svg', alt='')
    .inside
      .logo
        center
          img(src='./images/api_icon.jpg', alt='')
        h1 Questioner
      .intro
        h3  Questions API Reference
      .rsection
        .nav-route
          li
            span.exp Method: POST (create question, this will require authentication before)
            span.url https://evening-sierra-90401.herokuapp.com/api/v1/meetups/:meetupId/questions
          li
            span.exp Method: DELETE (delete question, this will require authentication before)
            span.url https://evening-sierra-90401.herokuapp.com/api/v1/questions/:questionId
          li
            span.exp Method: GET (Get Questions)
            span.url https://evening-sierra-90401.herokuapp.com/api/v1/questions
          li
            span.exp Method: POST (upVote Questions)
            span.url https://evening-sierra-90401.herokuapp.com/api/v1/questions/:questionId/upvote
          li
            span.exp Method: POST (downVote Questions)
            span.url https://evening-sierra-90401.herokuapp.com/api/v1/questions/:questionId/downvote

    
