/*google font*/
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Lobster');
*,body{
  margin: 0;
  padding: 0;
}
body{
  font-family: "comfortaa",cursive;
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
  background:  #f7f7f742;
}
a{
  text-decoration: none;
}
ul{
  list-style-type: none;
}
h5{
  font-size: 14px;
}
.header{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  width: 16%;
  background: #f8f8f8;
  padding-top: 50px;
  box-shadow: 1px 2px 5px 2px #f8f8f8;
  transform: translateX(100%);
  transition: transform 0.4s linear;
  -webkit-transform:translateX(100%);
  -webkit-transition:transform 0.4s linear;
}
.navigation-bar{
text-align: center;
margin-top: 40px;
}
.navigation-bar li{
  margin: 20px;
}
.navigation-bar a{
    text-align: center!important;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: bold;
    color: #333;
}
.close{
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  cursor: pointer;
}
.main-stuff{
  position: relative;
  width: 100%;
  min-height: 85vh;
  background:  #f7f7f742;
}
.humbuger{
  position: absolute;
  margin: 10px;
  right: 0;
  cursor: pointer;
}
.humbuger img{
  width: 40px;
}
.inside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo{
  margin-top: 50px;
  font-family: 'Lobster', cursive;
  margin-bottom: 30px;
  color: #333;
}
.logo img,.logoImg{
  width: 50px;
}
.logo h1{
  font-size: 2.5rem;
}
.intro{
  width: 50%;
  text-align: center;
  color: #333;
}
.rsection{
    padding: 10px;
    background:none;
    margin-top: 20px;
    border-radius: 4px;
}
.nav-route li{
  display: block;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
}
.exp{
  display: block;
  font-weight: bold;
  font-size: 10px;
  padding-bottom: 5px;
}
.url{
  color: blue;
}
footer{
  padding: 20px;
  text-align: center;
  font-size: 12px;
  background:  #f7f7f742;
}
.name{
  margin-top: 20px;
}
